body {
    background-color: var(--cor-fundo) !important;
    color: var(--cor-texto) !important;
}

.card {
    background-color: var(--cor-fundo-card) !important;
    color: var(--cor-texto-card) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}