input,
select {
    background-color: #1a233a !important;
    border-color: #464d5c !important;
    color: #8a99b5 !important;

    display: block;
    width: 100%;
    height: calc(1.4em + 0.94rem + 3.7px);
    padding: 0.47rem 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #475F7B;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #DFE3E7;
    border-radius: 0.267rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type='file']~label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 0 solid transparent;
    padding: 0.467rem 1.5rem;
    font-size: 1rem;
    line-height: 1.6rem;
    border-radius: 0.267rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
