<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
    Header set Access-Control-Allow-Headers "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
</IfModule>

# Mudando arquivo inicio do servidor
DirectoryIndex index.php

# Reescreve a pagina para enviar para o arquivo de controle
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?_PagePredocs=$1 [QSA]

#bloqueando listagem de diretorios
Options -Indexes

#bloquear arquivos
# Order allow,deny
# Deny from all
# Satisfy All
