##forçar alteração de http para https
#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#forçando utf-8
<FilesMatch ".(htm|html|css|js)$">
AddDefaultCharset UTF-8
</FilesMatch>

# Mudando arquivo inicio do servidor
DirectoryIndex controle.php

# Reescreve a pagina para enviar para o arquivo de controle
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ controle.php?_Pagina=$1

#bloqueando listagem de diretorios
Options -Indexes
